[user]
	name = Alex Ciarlillo
	email = alex.ciarlillo@gmail.com

[alias]
  ca = commit --amend --reuse-message=HEAD

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
  
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true

# https://blog.gitbutler.com/how-git-core-devs-configure-git
[column]
  ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[core]
	excludesfile = /Users/alex/.gitignore_global
	precomposeUnicode = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
