:root {
  --tabbar-bg: #2f343f;
  --tab-surface: #2f343f;
  --tab-text: #d1d5dc;
  --tab-surface-active: #4b5262;
  --tab-surface-active-hover: #d1d5dc;
  --tab-active-text: #d1d5dc;
  --tab-border: #2f343f;
  --tab-surface-hover: #4b5262;
  --tab-active-marker: none;
}

/* Hide border on tab bar, force its state to 'scroll', adjust margin-left for width of scrollbar. */
#tabbar {
	border: 0;
	overflow-y: scroll !important;
	margin-left: -18px !important;
}

/* Hide .twisty and adjust margins so favicons have 7px on left. */
.tab .twisty {
    visibility: hidden;
    margin-left: -12px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state */
.tab .label {
    margin-left: 7px;
}

/* Hide close buttons on tabs. */
.tab .closebox {
    visibility: collapse;
}

/* Hide sound playing/muted button. */
.sound-button::before {
    display: none !important;
}

/* Hide 'new tab' button. */

.newtab-button {
    display: none;
}

@keyframes pulse {
	0% {
		width: 0px;
		height: 0px;
		opacity: 1;
	}
	100% {
		width: 350px;
		height: 350px;
		opacity: 0;
		top: calc(50% - 175px);
		left: calc(50% - 175px);
	}
}

.tab.sound-playing .favicon::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background: #FFFFFF;
	animation: pulse 2s ease-out 0s infinite;
	z-index: -1;
	opacity: 0;
}

.tab.muted {
    opacity: 0.5;
}
