/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */

:root.theme-dark {
  --theme-body-background: #2f343f !important;
  --theme-sidebar-background: #434a5a !important;
  --theme-contrast-background: #d8dee8 !important;
  --theme-tab-toolbar-background: #2f343f !important;
  --theme-toolbar-background: #4b5262 !important;
  --theme-toolbar-color: #d8dee8 !important;
  --theme-toolbar-selected-color: #e5e9f0 !important;
  --theme-toolbar-checked-color: #75BFFF !important;
  --theme-toolbar-highlighted-color: #93ae7c !important;
  --theme-toolbar-background-hover: #20232B !important;
  --theme-toolbar-background-alt: #1B1B1D !important;
  --theme-toolbar-hover: #4b5262 !important;
  --theme-toolbar-hover-active: #a3be8c !important;
  --theme-selection-background: #d8dee8 !important;
  --theme-selection-background-hover: #353B48 !important;
  --theme-selection-color: #2f343f !important;
  --theme-splitter-color: #2f343f !important;
  --theme-comment: #939393 !important;
  --theme-comment-alt: #939393 !important;
  --theme-body-color: #909090 !important;
  --theme-body-color-alt: var(--grey-50) !important;
  --theme-body-color-inactive: var(--grey-40) !important;
  --theme-content-color1: #d1d5dc !important;
  --theme-content-color2: #d8dee8 !important;
  --theme-content-color3: #58575c !important;
  --theme-highlight-green: #93ae7c !important;
  --theme-highlight-blue: #93e5cc !important;
  --theme-highlight-purple: #b48ead !important;
  --theme-highlight-red: #ebcb8b !important;
  --theme-highlight-yellow: #ebcb8b !important;
  --theme-highlight-bluegrey: #7191b1 !important;
  --theme-highlight-lightorange: #dbbb7b !important;
  --theme-highlight-orange: #d96629 !important;
  --theme-highlight-pink: #b48ead !important;
  --theme-highlight-gray: #d1d5dc !important;
  --theme-focus-outline-color: #ced3d9 !important;
  --theme-graphs-green: #70bf53 !important;
  --theme-graphs-blue: #46afe3 !important;
  --theme-graphs-bluegrey: #5e88b0 !important;
  --theme-graphs-purple: #df80ff !important;
  --theme-graphs-yellow: #d99b28 !important;
  --theme-graphs-orange: #d96629 !important;
  --theme-graphs-red: #eb5368 !important;
  --theme-graphs-grey: #757873 !important;
  --theme-graphs-full-red: #f00 !important;
  --theme-graphs-full-blue: #00f !important;
}

:root:-moz-lwtheme-brighttext {
  --chrome-background-color: #2f343f !important;
  --chrome-color: #d8dee8 !important;
  --chrome-secondary-background-color: #2f343f !important;
  --toolbox-border-bottom-color: #4b5262 !important;
  --lwt-toolbar-field-border-color: #4b5262 !important;
  --lwt-toolbar-field-background-color: #4b5262 !important;
  --focus-ring-box-shadow: #2f343f !important;
}

#navigator-toolbox {
    --tabs-border-color: #81a1c1 !important;
}

/* Address bar focus styles */
#urlbar[focused="true"], .searchbar-textbox[focused="true"] {
  border-color: #d8dee8 !important;
}

/* Remove white flash on tab load */
.browserContainer {
  background-color: #2f343f !important;
}

/* Remove top border of selected tab */
#tabbrowser-tabs:-moz-lwtheme {
  --tab-line-color: #81a1c1 !important;
}

#PersonalToolbar {
    visibility: collapse !important;
}

/* Hide (i) in URL bar */
#identity-icon {
	width: 0 !important;
}

/* Adjust lock icon to be closer to edge */
#identity-box {
	padding-inline-start: 2px !important;
}

/* Center URL */
#urlbar .urlbar-input-box {
	text-align: center;
	margin-bottom: 1px;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}

/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
}

/* Make normal density theme bit compact */
:root:not([uidensity=compact]) #back-button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
  background-color: unset !important;
  border: none !important;
}
