@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root:-moz-lwtheme-brighttext {
  --chrome-background-color: #2f343f !important;
  --chrome-color: #d8dee8 !important;
  --chrome-secondary-background-color: #2f343f !important;
  --toolbox-border-bottom-color: #4b5262 !important;
  --url-and-searchbar-border-color: #4b5262 !important;
  --focus-ring-box-shadow: #2f343f !important;
  --url-and-searchbar-background-color: #4b5262 !important;
  --identity-blue-color: #81a1c1;
  --identity-orange-color: #ebcb8b;
}

#TabsToolbar {
    visibility: collapse !important;
}

/* Hide (i) in URL bar */
#identity-icon {
	width: 0 !important;
}
/* Adjust lock icon to be closer to edge */
#identity-box {
	padding-inline-start: 2px !important;
}
/* Center URL */
#urlbar .urlbar-input-box {
	text-align: center;
	margin-bottom: 1px;
}

/* Address bar focus styles */
#urlbar[focused="true"], .searchbar-textbox[focused="true"] {
  border-color: #d8dee8 !important;
}

/* Remove white flash on tab load */
.browserContainer {
  background-color: #2f343f !important;
}

/* Remove top border of selected tab */
:root:-moz-lwtheme {
  --tab-line-color: none !important;
}

/* Sidebar min and max width removal */
#sidebar {
    max-width: none !important;
    min-width: 0px !important;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */
/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
	--thin-tab-width: 30px;
	--wide-tab-width: 200px;
}
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
	min-width: var(--wide-tab-width) !important;
	max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
	overflow: hidden !important;
	position: relative !important;
	transition: all 200ms !important;
	min-width: var(--thin-tab-width) !important;
	max-width: var(--thin-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
	transition: all 200ms !important;
	min-width: var(--wide-tab-width) !important;
	max-width: var(--wide-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
	margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}

/* Make normal density theme bit compact */
:root:not([uidensity=compact]) #back-button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
  background-color: unset !important;
  border: none !important;
}
