@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root:-moz-lwtheme-brighttext {
  --chrome-background-color: #3c3836 !important;
  --chrome-color: #ebdbb2 !important;
  --chrome-secondary-background-color: #1d2021 !important;
  --toolbox-border-bottom-color: #282828 !important;
  --url-and-searchbar-border-color: #282828 !important;
  --focus-ring-box-shadow: #1d2021 !important;
  --url-and-searchbar-background-color: #282828 !important;
  --identity-blue-color: #458588;
  --identity-orange-color: #d79921;
}

/* #TabsToolbar {
    visibility: collapse !important;
} */

/* Remove white flash on tab load */
.browserContainer {
  background-color: #1d2021 !important;
}

/* Address bar focus styles */
#urlbar[focused="true"], .searchbar-textbox[focused="true"] {
  border-color: #444444 !important;
}

/* Remove top border of selected tab */
:root:-moz-lwtheme {
  --tab-line-color: none !important;
}

/* Fixing container tab borders */
[data-identity-color="blue"] {
  --identity-tab-color: var(--identity-blue-color) !important;
  --identity-icon-color: var(--identity-blue-color) !important;
}

[data-identity-color="orange"] {
  --identity-tab-color: var(--identity-orange-color) !important;
  --identity-icon-color: var(--identity-orange-color) !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Make normal density theme bit compact */
:root:not([uidensity=compact]) #back-button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
  background-color: unset !important;
  border: none !important;
}
