# php

t() {
  if [ -f vendor/bin/phpunit ]; then
    vendor/bin/phpunit "$@"
  else
    phpunit "$@"
  fi
}

alias art="php artisan"
alias tinx="php artisan tinx"
alias t="phpunit"
alias tf="phpunit --filter"
alias migrate="php artisan migrate"
alias mfresh="php artisan migrate:fresh --seed"

# git
alias nah="git reset --hard && git clean -df"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias wip="git add . && git commit -m 'wip'"
alias gs="git status"

# projects
alias sa="cd ~/development/cels/sa4"

# VMs
alias homestead="cd ~/development/environments/homestead"
